# Binaries
bin/*
*.exe

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Go build artifacts
*.out
*.test
*.prof

# Dependency management
vendor/

# Temporary files
*.swp
*.swo

# Log files
*.log

# Test coverage files
*.cov